node_modules/
.vscode/
publish-all.sh
.git
.github
**/node_modules
test
tests
**/__tests__
coverage
.env
.env.*
*.log
*.tsbuildinfo
tsconfig.json
tsconfig.*.json
jest.config.*
*.test.*
*.spec.*
scripts
tmp
.DS_Store
.idea
.history
.eslint*
.prettier*
.husky
.pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml
